OLAMA_MODEL=gemma3:1b
OLAMA_INPUT_DIR=./data/input
OLAMA_LOG_DIR=./data/output/logs
OLAMA_OUTPUT_FILE=./data/output/aggregated/questions.md
OLAMA_PROMPT_TEMPLATE=template_image_to_text

EXPLAIN_INPUT_FILE=./data/output/aggregated/questions.md
EXPLAIN_OUTPUT_FILE=./data/output/aggregated/explanations.md
EXPLAIN_MODEL=gemma3:12b
EXPLAIN_INSTRUCTION_FILE=./prompts/explain_spark_answer.txt